 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body {
    background-color: white;
    width: 100%;
}

header {
    background: linear-gradient(to bottom, purple, navy, pink); 
    width: 100%;
    height: 70px;
   
    position: sticky;
    z-index: 1;
  }

  ul {
    list-style: none;
    display: flex;
    float: right;
    margin-right: 150px;
    padding-top: 24px;    
}

  .navbutton   {
    text-decoration: none;

  }

  .headbutton {
    width: 140px;
    height: 50px;
    background: linear-gradient(to top, rgb(67, 4, 77),pink);
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
    border-color: white;
    color: white;
    border-width: 4px;
    box-shadow: 100px;
  }

  .headbutton:hover {
    background-color: purple;
  }

.logo {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-top: 5px;
    margin-left: 15px;
  }

  .logotext {
     font-size: 20px ;
     color: white;
     padding-left: 10px;
     padding-top: 18px;
  }

li a {
    text-decoration: none;
    padding-left: 30px;
    font-size: 20px;
    color: white;
}



.bgimg {
    width: 100%;
    height: 90%;
    position: absolute;
}
